@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
	font-family: Nunito;
}
.flex {
	display: flex;
}

.flex-grow {
	flex: 1 1 var(--flex-size, 100%);
}

/* Set predefined sizes */
.flex-10 {
	--flex-size: 10%;
}
.flex-30 {
	--flex-size: 30%;
}
.flex-50 {
	--flex-size: 50%;
}
.flex-70 {
	--flex-size: 70%;
}
.flex-90 {
	--flex-size: 90%;
}

a.clean {
	text-decoration: none;
	color: initial;
}

.clean-list {
	list-style: none;
	padding: 0;
}

.blocky {
	position: absolute;
	top: 36px;
	z-index: 9999;
	width: 100%;
	background: #fff;
}

ul.blocky li {
	padding: 6px;
	border: 1px solid #000;
	font-weight: bold;
}

.relative {
	position: relative;
}
